# PyCharm
.idea

# VS code
.vscode

# Python
*.pyc
__pycache__

# google docs api
credentials.json

# pvme-guides and pvme-settings repo
pvme-guides
pvme-settings

# env file
.env

# pipenv
# Pipfile.lock

# build files
build