name: validate emojis.json

on:
  push:
    branches:
      - master
    paths:
      - 'emojis/**'

  pull_request:
    branches:
      - master
    paths:
      - 'emojis/**'

defaults:
  run:
    working-directory: emojis

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          pip install -r requirements.txt

      - name: Validate emojis.json
        run: python validate_emojis.py

      - uses: mshick/add-pr-comment@v2
        if: failure()
        with:
          message-path: emojis/emoji_errors.txt