name: pvme_spreadsheet.json update

on:
  push:
    branches:
      - master
      - pipeline-debug
    # paths:
      # - 'pvme_spreadsheet/**'

  schedule:
    - cron: '0 1 * * *' # once per day

defaults:
  run:
    working-directory: pvme_spreadsheet

jobs:
  deploy:
    runs-on: windows-latest
    env:
      GS_URL: ${{secrets.GS_URL}}
      GS_PRIVATE_KEY: ${{secrets.GS_PRIVATE_KEY}}
      GS_CLIENT_EMAIL: ${{secrets.GS_CLIENT_EMAIL}}
      GS_TOKEN_URI: ${{secrets.GS_TOKEN_URI}}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          pip install -r requirements.txt

      - name: update pvme-spreadsheet
        run: python pvme_spreadsheet.py

      - run: |
          dir
          cd build
          dir
          more pvme_spreadsheet.json

      - name: deploy build artifacts
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: settings/pvme-spreadsheet
#          FOLDER: pvme_spreadsheet/build
          FOLDER: /pvme_spreadsheet/build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: ({sha}) {msg}"
          SQUASH_HISTORY: true
